.main{
    background: #1D976C;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #93F9B9, #1D976C);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #93F9B9, #1D976C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    border-radius: 10px;
    height: 70%;
    width: 80%;
    margin-left: 10%;
    opacity: 0.9;
    margin-top: 10%;
}


#title{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    padding-top: 10px;
}



html {
    background-image: url("background.jpg");
 }

    h1{

    text-align: center;

 }